# 2. 입력과 문자열 (12/22, 목)
## 입력
* input()를 통한 입력받기
    * input을 통해 입력받으면 문자열로 입력받게됨
    * input안에 텍스트를 넣으면 입력 받을 시 입력문구로 나옴

In [2]:
a = input("값을 입력하세요: ")
print(a)
print(type(a))

값을 입력하세요:  123

123
<class 'str'>

### 123을 입력받고 2를 더한 값을 출력해주세요.

 123

125

* 값을 여러 개 받는다면...?

1 2 3 4를 입력받아서 정수로 변환하여<br>
1<br>
2<br>
3<br>
4<br>
로 출력해주세요.

 1 2 3 4

1
2
3
4

### split()
* 구분자만 일단 기억하자
* ex) split(), split(" "), split(",")

In [27]:
# 코드를 단축해보자

### map()
* 기본 문법: map(변환 함수, 순회 가능한 데이터)
* 변환하여 map 객체로 반환되므로 리스트 등으로 바꿔야함
* 쉽게 설명하자면 순회가능한 리스트 등의 각 원소를 변환함수에 하나씩 적용함

In [24]:
def plusOne(i):
    i+=1
    return i
    
li1 = [1,2,3,4]
li2 = list(map(plusOne, li1))
li2

[2, 3, 4, 5]

In [25]:
li1 = [1, 2, 3, 4]
li2 = list(map(int, li1))
li2

[1, 2, 3, 4]

### 문자 슬라이싱을 해보자
str = [start, end]
start부터 end-1까지 인덱스에 있는 문자열 반환

In [38]:
name = "미란준호선영종현"

# 미란준호를 출력해봅시다...!
print(f'{name[0:4]}')
print(f'{name[:4]}')

# 음수로 인덱싱한다면...?
print(f'{name[-1]}')
print(f'{name[0:-4]}')

# 선영종현을 출력해봅시다.

미란준호
미란준호
현
미란준호

### 문자더하기(연결)
* 지난 과제

### 문자 길이
* len() 사용

In [45]:
name = '송준호'
print(len(name))

3

### 문자열 찾기
* find 사용
* 검색 문자열을 찾을 수 없으면 -1을 반환

In [44]:
name = '김종현'
print(name.find('종'))
print(name.find('쫑'))

1
-1

### 문자열 바꾸기
* replace() 함수

In [46]:
s = '[미란][선영]'
# []을 없애주세요!

### 문자열 구성 확인
* isalpha(): 문자열
* isdigit(): 숫자
* isupper(): 대문자인지
* islower(): 소문자인지

### 대소문자로 변경
* s.lower()
* s.upper()

In [47]:
# 소문자를 대문자로, 대문자를 소문자로 바꿔주세요
nickname = 'miranZZang'

### 포함여부
* in, not in

In [48]:
'miran' in nickname

True