### 두 수의 나눗셈 (120806)
문제 : 정수 num1과 num2가 매개변수로 주어질 때, num1을 num2로 나눈 값에 1,000을 곱한 후 정수 부분을 return 하도록 soltuion 함수를 완성해주세요.

In [1]:
def solution(num1, num2):
    return int((num1 / num2)*1000)

### 몫 구하기 (120805)
문제 : 정수 num1, num2가 매개변수로 주어질 때, num1을 num2로 나눈 몫을 return 하도록 solution 함수를 완성해주세요.

In [2]:
def solution(num1, num2):
    return int(num1 // num2)

### 두 수의 곱 (120804)
문제 : 정수 num1, num2가 매개변수 주어집니다. num1과 num2를 곱한 값을 return 하도록 solution 함수를 완성해주세요.

In [3]:
def solution(num1, num2):
    return num1*num2

### 두 수의 차 (120803)
문제 : 정수 num1과 num2가 주어질 때, num1에서 num2를 뺀 값을 return하도록 soltuion 함수를 완성해주세요.

In [4]:
def solution(num1, num2):
    return num1 - num2

### 두 수의 합 (120802)
문제 : 정수 num1과 num2가 주어질 때, num1과 num2의 합을 return하도록 soltuion 함수를 완성해주세요.

In [5]:
def solution(num1, num2):
    return num1 + num2

### 머쓱이보다 키 큰 사람 (120585)
문제 : 머쓱이는 학교에서 키 순으로 줄을 설 때 몇 번째로 서야 하는지 궁금해졌습니다. 머쓱이네 반 친구들의 키가 담긴 정수 배열 array와 머쓱이의 키 height가 매개변수로 주어질 때, 머쓱이보다 키 큰 사람 수를 return 하도록 solution 함수를 완성해보세요.

In [6]:
def solution(array, height):
    taller = 0
    for i in array:
        if height < i:
            taller += 1
    return taller

In [7]:
def solution(array, height):
    return len([i for i in array if i > height])

### 중복된 숫자 개수 (120583)
문제 : 정수가 담긴 배열 array와 정수 n이 매개변수로 주어질 때, array에 n이 몇 개 있는 지를 return 하도록 solution 함수를 완성해보세요.

In [8]:
def solution(array, n):
    return array.count(n)