# 1. 출력 (12/20, 화)

* 출력 문제 몸풀기...?
    * https://codeup.kr/problem.php?id=6002
    * https://codeup.kr/problem.php?id=6003
    * https://codeup.kr/problem.php?id=6006

* git에 문제의 답을 올려주세요!

In [6]:
print("Hello World")
print("Hello", "World")
print("Hello "+ "World")

Hello World
Hello World
Hello World

In [8]:
print("Hello") 
print("World")

print("Hello\nWorld")

Hello
World
Hello
World

In [11]:
print("\"!@#$%^&*()\'")
print("")
print('')

"!@#$%^&*()'

* end와 sep 속성을 잘 활용하자...! <br>
https://infinitt.tistory.com/11

## 1) format 함수 사용
* {}안에 포매팅 지정, format 함수 인자로 포맷팅 원하는 값 지정
```
'{0}, {1}'.format(인자1, 인자2)....
```

In [12]:
name1 = '준호'
name2 = '종현'

In [13]:
print('{0} 천재, {1} 바보'.format(name1, name2))

준호 천재, 종현 바보

In [14]:
print('{} 천재, {} 바보'.format(name1, name2))

준호 천재, 종현 바보

In [15]:
print('{1} 천재, {0} 바보'.format(name1, name2))

종현 천재, 준호 바보

In [16]:
print('{} 천재, {} 바보'.format(name2, name1))

종현 천재, 준호 바보

In [17]:
# 직접 대입
print('{}은 귀엽다.'.format('미란'))

미란은 귀엽다.

In [ ]:
# 변수 대입: 맨 위의 예제

In [ ]:
# 이름 지정 후 대입
print('나이: {name}, 이름: {age}'.format(name='선영', age=17))

나이: 17, 이름: 선영

### 구구단 예제

In [23]:
for j in range(2, 10):
    print('{}단'.format(j))
    for i in range(1, 10):
        print('{}X{}={}'.format(j, i, j*i))

2단
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
3단
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
4단
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
5단
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
6단
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
7단
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
8단
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
9단
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

## 2) 서식 문자 % 사용
* %d : 정수
* %s: 문자열
* %f: 실수
* %o: 8진수
* %x: 16진수

In [17]:
# print('이름은 {name}, 나이는 {age}'.format(name='선영', age=17))
# 이름만
name = '선영'
print('이름은 %s' % (name))

이름은 선영

In [25]:
# 나이출력
age = 17
print('나이는 %d살' % (age))

나이는 17살

In [26]:
# 이름과 나이 동시에 출력
# 이름: 선영 나이: 17
name = '선영'
age = 17

print('이름: %s 나이:%d' % (name, age))

이름: 선영 나이:17

### 번호별 이름출력

In [28]:
names = ['선영', '종현', '준호', '미란']
# 리스트에서 숫자...? 무조건 인덱스를 활용한다.

In [35]:
for i in range(len(names)):
    print('%d번: %s' % (i+1,names[i]))

1번: 선영
2번: 종현
3번: 준호
4번: 미란

In [29]:
for name in names:
    print('%s' % (name))

선영
종현
준호
미란

### 정수 3개 입력받아 합계와 평균을 출력

* 특징
    * 출력해야할 값 많아지면 () 이용
    * 타입 지정이 장점이자 단점

## 3) f'문자열{변수명}'

In [36]:
num = 123
print(f'{num} 입니다')

123 입니다

In [38]:
# 하나씩 출력해주세요.
s = 'ABCD'

for c in s:
    print(f'{c}')

A
B
C
D

### 딕셔너리 값을 출력해주세요.

In [40]:
d = {'name': '미란' , 'weight': 20}
# 이름: 미란, 몸무게: 20
print(f'이름: {d["name"]}, 몸무게: {d["weight"]}')

이름: 미란, 몸무게: 20

### 숙제 (여러분 화이티이이이잉!)
* 서식 문자 사용해서 풀어주세요.
    http://www.jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=4079&sca=py
* 스터디 너무 즐겁다 ㅇㅈ??!
    https://www.acmicpc.net/problem/10926
* sort함수 사용하지 않고 반복문만 사용해서 풀어주세요.
    https://school.programmers.co.kr/learn/courses/30/lessons/120822