
1. i부터 나눠서 정수인지보자.

In [5]:
n = 29
result = []
for i in range(1, n+1):
    s = n // i
    if n % i == 0:
        result.append(i)
print(result)

[1, 29]

In [7]:
result = [ i for i in range(1, n+1) if n % i == 0]
result

[1, 29]

# 편지

In [8]:
len("happy birthday!")

15

# 가장 큰 수 찾기

In [21]:
array = [1, 8, 3]
print([max(array), array.index(max(array))])

[8, 1]

# 문자열 계산하기

문제분석
1. 연산자는 +, -만 존재합니다.
2. 문자열의 시작과 끝에는 공백이 없습니다
3. my_string에는 연산자가 적어도 하나 포함되어 있습니다.
  -> 하나 이상인경우도 생각할 것.

1. split으로 나눠서 if문으로 숫자, + , - 나누어서 해결? 
for 문 돌려서 여러게의 연산이

In [25]:
my_string = "3 + 4"

In [26]:
m = my_string.split()

In [52]:
my_string = "3 + 4 - 6"
m = my_string.split()
number, operater = [], []
oper = []
for word in m:
    if word == '+' or word == '-':
        oper.append(word)
    else:
        number.append(int(word))

result = number[0]
for n in range(len(oper)):
    if oper[n] == '+':
        result += number[n+1]
    else:
        result -= number[n+1]
print(result)

1

In [51]:
eval(my_string)

1

# 배열의 유사도

이중 for구문으로 해결하자

In [53]:
s1 = ["a", "b", "c"]
s2 = ["com", "b", "d", "p", "c"]

count = 0
for word1 in s1:
    for word2 in s2:
        if word1 == word2:
            count += 1
print(count)

# 숫자찾기

문제분석
num = 29183
k = 1
1. 232443에서 4는 4번째에 처음 등장합니다. list화하면 4번째.

In [101]:
num = 232443
k = 4

num = list(str(num))
k = str(k)

if k in num:
    print(num.index(k)+1)
else:
    print(-1)

4

In [ ]:
num.index(k)+1 if k in num else -1

4